.calibre {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre2 {
    display: block;
    font-family: Noto Serif, serif;
    margin-bottom: 80px
    }
.calibre3 {
    display: block
    }
.calibre4 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre5 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: #EEF2F6;
    font-family: "Consolas", Courier, monospace;
    font-size: 1em;
    font-style: inherit;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-top: 0.375em
    }
.calibre9 {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: 1em;
    text-decoration: underline;
    word-wrap: break-word
    }
.calibre10 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    display: block;
    line-height: 1.5rem;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre11 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    display: list-item;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre12 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 126px;
    max-width: 100%;
    width: 172px
    }
.calibre13 {
    font-size: 0.75em;
    font-weight: 600;
    left: 0;
    line-height: 1.2;
    position: relative;
    top: 0;
    vertical-align: baseline
    }
.calibre14 {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: underline;
    word-wrap: break-word
    }
.calibre15 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 140px;
    max-width: 100%;
    width: 550px
    }
.calibre16 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 379px;
    max-width: 100%;
    width: 549px
    }
.calibre17 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 306px;
    max-width: 100%;
    width: 550px
    }
.calibre18 {
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    height: 13px;
    max-width: 100%;
    width: 14px
    }
.calibre19 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    display: block;
    line-height: 1.5rem;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: square;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre20 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 293px;
    max-width: 100%;
    width: 383px
    }
.calibre21 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 184px;
    max-width: 100%;
    width: 550px
    }
.calibre22 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 187px;
    max-width: 100%;
    width: 550px
    }
.calibre23 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 228px;
    max-width: 100%;
    width: 550px
    }
.calibre24 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 389px;
    max-width: 100%;
    width: 530px
    }
.calibre25 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    display: block;
    line-height: 1.5rem;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: square;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre26 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    display: block;
    line-height: 1.5rem;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre27 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    display: list-item;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.calibre28 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 469px;
    max-width: 100%;
    width: 490px
    }
.calibre29 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 466px
    }
.calibre30 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 21px;
    max-width: 100%;
    width: 23px
    }
.calibre31 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 423px;
    max-width: 100%;
    width: 550px
    }
.calibre32 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 383px
    }
.calibre33 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 386px
    }
.calibre34 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 437px
    }
.calibre35 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 436px
    }
.calibre36 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 51px;
    max-width: 100%;
    width: 537px
    }
.calibre37 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 432px
    }
.calibre38 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 480px;
    max-width: 100%;
    width: 550px
    }
.calibre39 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 523px;
    max-width: 100%;
    width: 550px
    }
.calibre40 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 413px
    }
.calibre41 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 259px;
    max-width: 100%;
    width: 550px
    }
.calibre42 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 251px;
    max-width: 100%;
    width: 550px
    }
.calibre43 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 366px
    }
.calibre44 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 459px
    }
.calibre45 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 305px
    }
.calibre46 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 280px;
    max-width: 100%;
    width: 550px
    }
.calibre47 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 368px
    }
.calibre48 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 313px
    }
.calibre49 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 385px
    }
.calibre50 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 454px;
    max-width: 100%;
    width: 550px
    }
.calibre51 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 923px;
    max-width: 100%;
    width: 432px
    }
.calibre52 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 326px;
    max-width: 100%;
    width: 550px
    }
.calibre53 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 409px;
    max-width: 100%;
    width: 550px
    }
.calibre54 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 535px
    }
.calibre55 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 549px;
    max-width: 100%;
    width: 550px
    }
.calibre56 {
    font-size: 0.75em;
    font-weight: 600;
    left: 0;
    line-height: 1.2;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.calibre57 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 482px;
    max-width: 100%;
    width: 550px
    }
.calibre58 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 422px;
    max-width: 100%;
    width: 550px
    }
.calibre59 {
    bottom: -0.25em;
    font-size: 0.75em;
    font-weight: 600;
    left: 0;
    line-height: 1.2;
    position: relative;
    vertical-align: baseline
    }
.calibre60 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 198px;
    max-width: 100%;
    width: 550px
    }
.calibre61 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 550px;
    max-width: 100%;
    width: 363px
    }
.calibre62 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 15px;
    max-width: 100%;
    width: 17px
    }
.calibre63 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: 0;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: 0;
    height: 104px;
    max-width: 100%;
    width: 172px
    }
.cen {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.chaptitle {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    word-wrap: break-word
    }
.footnote {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: #8B889A;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.83333em;
    line-height: 1.5rem;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.h {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    word-wrap: break-word
    }
.h1 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    word-wrap: break-word
    }
.image {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: unset
    }
.mediaobject {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: inherit;
    display: block;
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.normal {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: unset
    }
.partnum {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    color: #3d3b49;
    display: block;
    font-family: "Noto Serif", serif;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    word-wrap: break-word
    }
.pbreak {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: unset;
    display: block;
    font-family: "Noto serif", serif;
    font-size: 1em;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    margin-bottom: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-before: always;
    text-align: left;
    text-indent: unset
    }
.tip {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    background-color: transparent;
    border-bottom-color: #8B889A;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: #8B889A;
    border-top-style: solid;
    border-top-width: 1px;
    display: block;
    line-height: 1.5rem;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.pcalibre:link {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: inherit;
    text-decoration: underline
    }
.pcalibre1:visited {
    color: #d3002d;
    font-family: "Noto serif", serif;
    font-size: inherit;
    text-decoration: underline
    }
.pcalibre2:focus {
    color: #9f0027;
    font-size: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid
    }
.pcalibre3:hover {
    color: #9f0027;
    font-size: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid
    }
.pcalibre4:hover {
    background-color: transparent;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

